{%- assign blog = blogs[section.settings.news_list] -%}

<div id="section-news-list">
  <div class="container">
    <div class="news-list-heading">
      
        {% if section.settings.heading %}
          <h2 class="h2">{{ section.settings.heading | escape }}</h2>
        {% endif %}

        {% if section.settings.subheading %}
          <p class="h6">{{ section.settings.subheading | escape }}</p>
        {%- endif -%}
        
      <h2>{{ section.settings.title | escape }}</h2>
      <a href="{{ blog.url }}">一覧を見る</a>
    </div>
      <ul class="news-list">
        {% for article in blog.articles limit: section.settings.post_limit %}
        	<li class="news-list-item">
              <a href="{{ article.url }}">
                <div class="news-list-info">
                  {% if section.settings.news_list_date %}
                    <span class="news-list-date">{{ article.published_at | date: "%Y &frasl; %m &frasl; %d" }}</span>
                  {% endif %}
                </div>
                <div class="news-list-title">{{ article.title }}</div>
              </a>
        	</li>
        {% endfor %}
      </ul>
  </div>
</div>

{% schema %}
{
  "name": "お知らせ一覧",
  "settings": [
    {
      "id": "news_list",
      "type": "blog",
      "label": "Blog"
    },
    {
      "id": "post_limit",
      "type": "range",
      "label": "Posts to show",
      "min": 1,
      "max": 12,
      "step": 1,
      "default": 3
    },
    {
      "id": "news_list_date",
      "type": "checkbox",
      "label": "Show date",
      "default": true
    },
    {
      "id": "heading",
      "type": "text",
      "label": "Heading",
      "default": "お知らせ"
    },
    {
      "id": "subheading",
      "type": "text",
      "label": "Subheading",
      "default": "News"
    }
  ],
  "presets": [
    {
      "name": "News list",
      "category": "Blog"
    }
  ]
}
{% endschema %}